# macOS
**/*.DS_Store

# Visual Studio Code
.vscode/*
!.vscode/*.example
.devcontainer/

# JetBrains
.idea/
*.iml
.fleet/

# GitPod
.gitpod.yml

# CLion
cmake-build-debug/
/cmake-build-wsl_profile/

# build
*.exe
*.app
build/

# Python
python/.venv/
python/**/__pycache__/
python/**/*.so
python/**/*.dylib
python/**/*.dSYM
python/**/target/

# Rust
core/**/target
core/**/target_tarpaulin
codegen/**/target
codegen/src/**
!codegen/src/lib.rs
sevices/compactor/**/target
target/
target-bisector-*/

# ctags
**/tags

log/

*.log

# Coding Assistant
settings.local.json
.sisyphus/
